.site-nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgba(48, 48, 48, 0.36);
  padding: 15px;
  border-radius: 20px;
  box-sizing: border-box;
}

.site-nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.site-nav-content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  min-width: 80px;
  height: 45px;
  box-sizing: border-box;
  background-color: white;
  transition: 0.2s;
}

.site-nav-content a.active {
  font-weight: 700;
  border: 3px solid;
}

.page-main.active {
  color: #006600;
  border-color: #006600;
  background-color: rgba(0, 200, 0, 0.15);
}

.page-hot.active {
  color: #cc0000;
  border-color: #cc0000;
  background-color: rgba(255, 0, 0, 0.15);
}

.page-waiting.active {
  color: #d308bf;
  border-color: #d308bf;
  background-color: rgba(255, 0, 225, 0.15);
}

.page-add.active {
  color: #0000cc;
  border-color: #0000cc;
  background-color: rgba(0, 100, 255, 0.15);
}

.page-fav.active {
  color: #bc9412;
  border-color: #bc9412;
  background-color: rgba(251, 255, 0, 0.15);
}

.site-nav-content a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.site-portal-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 30px;
  color: #222;
  flex-shrink: 0;
}
